#page_title{
    text-align: center;
    text-shadow: 3px 2px blueviolet;
    background-color: #AAAAAA;
    line-height: 150%;
    font-size: 250%;
}

#image_box{
    position: relative;
    max-width: 100%;
    height: auto;
}