<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='colleges-config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='colleges.js') }}"></script>
    <title>College Metrics</title>
</head>

<body>
    <h1 id="page_title">Welcome to College Metrics</h1>
    <div id="box">
        <div class="fullscreen-bg">
            <video muted autoplay poster="{{ url_for('static', filename='videoframe.jpg') }}" class="fullscreen-bg__video">
                <source src="{{ url_for('static', filename='carleton_footage.mp4') }}" type="video/mp4">
            </video>
        </div>
        <br>
        <h2 class="search_text" align="center">School Search</h2>
        <h3 class="description" align="center">Enter the name of a U.S. college or university</h3>
        <p>
            <input id="input_college" type="text" onkeyup="if (event.keyCode == 13) document.getElementById('button_college').click()"   />
            <button id = "button_college" onclick="onCollegeSearchButton()">Search</button>
        </p>
        <p id="college_results_element" align="center">{{message[0]}}</p>
        <br>
        <h2 class="search_text" align="center">State Search</h2>
        <h3 class="description" align="center">Enter a state's name or abbreviation to view its institutions</h3>
        <p>
            <input id="input_state" type="text" onkeyup="if (event.keyCode == 13) document.getElementById('button_state').click()" />
            <button id="button_state" onclick="onStateSearchButton()">Search</button>
        </p>
        <p id="state_results_element" align="center">{{message[1]}}</p>
    </div>
</body>
</html>
